<app-modal
  [isOpen]="isAddModalOpen"
  (close)="closeAddModal()"
  className="max-w-[700px] m-4"
>
  <div class="no-scrollbar relative w-full max-w-[700px] overflow-y-auto rounded-3xl bg-white p-4 dark:bg-gray-900 lg:p-11">
    <div class="px-2 pr-14">
      <h4 class="mb-2 text-2xl font-semibold text-gray-800 dark:text-white/90">
        Ajouter un Patient
      </h4>
      <p class="mb-6 text-sm text-gray-500 dark:text-gray-400 lg:mb-7">
        Remplissez les informations pour créer un nouvel patient.
      </p>
    </div>

    <!-- Message d'erreur -->
    <div *ngIf="errorMessage" class="mx-2 mb-4 rounded-lg bg-red-50 p-4 text-sm text-red-800 dark:bg-red-900/20 dark:text-red-400">
      {{ errorMessage }}
    </div>

    <form class="flex flex-col" (ngSubmit)="handleSave()">
      <div class="custom-scrollbar h-[370px] overflow-y-auto px-2 pb-3">
        <div>
          <h5 class="mb-5 text-lg font-medium text-gray-800 dark:text-white/90 lg:mb-6">
            Informations personnelles
          </h5>
          
        

          <div class="grid grid-cols-1 gap-x-6 gap-y-5 lg:grid-cols-2">
            <div class="col-span-2 lg:col-span-1">
              <app-label>Prénom *</app-label>
              <input
                type="text"
                [(ngModel)]="patient.prenom"
                name="prenom"
                placeholder="Entrez le prénom"
                class="w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 
                       focus:border-brand-300 focus:outline-none focus:ring-2 focus:ring-brand-500/10
                       dark:border-gray-700 dark:text-white/90 dark:focus:border-brand-800 placeholder-gray-300 dark:placeholder-gray-500"
                required
              />
            </div>

            <div class="col-span-2 lg:col-span-1">
              <app-label>Nom *</app-label>
              <input
                type="text"
                [(ngModel)]="patient.nom"
                name="nom"
                placeholder="Entrez le nom"
                class="w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 
                       focus:border-brand-300 focus:outline-none focus:ring-2 focus:ring-brand-500/10
                       dark:border-gray-700 dark:text-white/90 dark:focus:border-brand-800 placeholder-gray-300 dark:placeholder-gray-500"
                required
              />
            </div>

            <div class="col-span-2 lg:col-span-1">
              <app-label>CIN </app-label>
              <input
                type="text"
                [(ngModel)]="patient.cin"
                name="cin"
                placeholder="Entrez le nom"
                class="w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 
                       focus:border-brand-300 focus:outline-none focus:ring-2 focus:ring-brand-500/10
                       dark:border-gray-700 dark:text-white/90 dark:focus:border-brand-800 placeholder-gray-300 dark:placeholder-gray-500"
                required
              />
            </div>


            <div class="col-span-2 lg:col-span-1">
              <app-label>Email *</app-label>
              <input
                type="email"
                [(ngModel)]="patient.email"
                name="username"
                placeholder="admin@example.com"
                class="w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 
                       focus:border-brand-300 focus:outline-none focus:ring-2 focus:ring-brand-500/10
                       dark:border-gray-700 dark:text-white/90 dark:focus:border-brand-800 placeholder-gray-300 dark:placeholder-gray-500"
                required
              />
            </div>

            <div class="col-span-2 lg:col-span-1">
              <app-label>Téléphone *</app-label>
              <input
                type="tel"
                [(ngModel)]="patient.numTel"
                name="numTel"
                placeholder="06XXXXXXXX"
                class="w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 
                       focus:border-brand-300 focus:outline-none focus:ring-2 focus:ring-brand-500/10
                       dark:border-gray-700 dark:text-white/90 dark:focus:border-brand-800 placeholder-gray-300 dark:placeholder-gray-500"
                required
              />
            </div>
            <div class="col-span-2 lg:col-span-1">
              <app-label>Date Naissance *</app-label>
              <input
                type="date"
                [(ngModel)]="patient.dateNaissance"
                name="dateNaissance"
                placeholder="jdd/mm/yyyy"
                class="w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 
                       focus:border-brand-300 focus:outline-none focus:ring-2 focus:ring-brand-500/10
                       dark:border-gray-700 dark:text-white/90 dark:focus:border-brand-800 placeholder-gray-300 dark:placeholder-gray-500"
                required
              />
            </div>
            <div class="col-span-2 lg:col-span-1">
              <app-label>Sexe *</app-label>
              <input
                type="text"
                [(ngModel)]="patient.sexe"
                name="sexe"
                placeholder="06XXXXXXXX"
                class="w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 
                       focus:border-brand-300 focus:outline-none focus:ring-2 focus:ring-brand-500/10
                       dark:border-gray-700 dark:text-white/90 dark:focus:border-brand-800 placeholder-gray-300 dark:placeholder-gray-500"
                required
              />
            </div>
            <div class="col-span-2 lg:col-span-1">
              <app-label>Adresse</app-label>
              <input
                type="text"
                [(ngModel)]="patient.adresse"
                name="adresse"
                placeholder="06XXXXXXXX"
                class="w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 
                       focus:border-brand-300 focus:outline-none focus:ring-2 focus:ring-brand-500/10
                       dark:border-gray-700 dark:text-white/90 dark:focus:border-brand-800 placeholder-gray-300 dark:placeholder-gray-500"
                required
              />
            </div>
            <div class="col-span-2 lg:col-span-1">
              <app-label>Nom du mutuelle</app-label>
              <input
                type="text"
                [(ngModel)]="patient.mutuelleNom"
                name="mutuelleNom"
                placeholder="06XXXXXXXX"
                class="w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 
                       focus:border-brand-300 focus:outline-none focus:ring-2 focus:ring-brand-500/10
                       dark:border-gray-700 dark:text-white/90 dark:focus:border-brand-800 placeholder-gray-300 dark:placeholder-gray-500"
                required
              />
            </div>
            <div class="col-span-2 lg:col-span-1">
              <app-label>date d'expiration</app-label>
              <input
                type="date"
                [(ngModel)]="patient.mutuelleExpireLe"
                name="mutuelleExpireLe"
                placeholder="06XXXXXXXX"
                class="w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 
                       focus:border-brand-300 focus:outline-none focus:ring-2 focus:ring-brand-500/10
                       dark:border-gray-700 dark:text-white/90 dark:focus:border-brand-800 placeholder-gray-300 dark:placeholder-gray-500"
                required
              />
            </div>

          </div>
        </div>
      </div>

      <div class="flex items-center gap-3 px-2 mt-6 lg:justify-end">
  <app-button 
    size="sm" 
    variant="outline" 
    type="button"
    (btnClick)="closeAddModal()"
  >
    Annuler
  </app-button>
  
  <button 
    type="submit"
    [disabled]="isLoading"
    class="inline-flex items-center justify-center gap-2 rounded-lg bg-brand-700 px-4 py-2.5 text-sm font-medium text-white shadow-sm hover:bg-green-800 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      <span *ngIf="!isLoading">Enregistrer</span>
      <span *ngIf="isLoading">Enregistrement...</span>
    </button>
  </div>
    </form>
  </div>
</app-modal>